body {
  background-color: #e4e2e0;
}

.screen {
  width: 80%;
  margin: 0 auto;
  background-color: white;
}

.nameSite {
  text-align: center;
  background-color: rgb(21, 57, 107);
  color: white;
  font-size: 24px;
  padding: 0.1px;
  margin-top: -8px;
}

.image {
  width: 100%;
}

.selectYears {
  display: flex;
  display: inline-block;
  margin: 18.3%;
  margin-top: 5%;
  margin-bottom: 2%;
  height: 40px;
  font-size: 18px;
}

.selectOrder {
  display: flex;
  display: inline-block;
  text-align-last: center;
}

select {
  height: 40px;
  font-size: 18px;
}

select:focus {
  outline: none;
}

.search>input:focus {
  outline: none;
}

.search>input {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 10%;
  font-size: 25px;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-family: serif;
  background: rgb(29, 109, 166);
  box-shadow: 3px 3px 0 2px #1d508f;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.search>input:active {
  box-shadow: 0 0 0 0 #205493, inset 4px 4px 4px #205493;
  transform: translate(4px, 4px);
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 20px;
  text-align: center;
}

.a {
  border-radius: 30px;
  background-color: rgb(29, 109, 166);
  color: white;
  box-shadow: 4px 4px #205493;
  width: 15%;
  height: 15%;
  margin-right: 1%;
  margin-bottom: 1%;
}

.arrow {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-inline-end: 40px;
}

.baseboard {
  font-size: 20px;
  text-align: center;
  padding: 20px;
  background-color: #f9c642;
}

@media (min-width: 2560px) {
  .selectYears {
    margin: 22.5%;
    margin-top: 5%;
    margin-bottom: 3%;
  }
  .search>input {
    margin-bottom: 5%;
  }
}

@media (max-width: 1024px) {
  .screen {
    width: 100%;
  }
  .selectYears {
    margin: 2%;
    margin-top: 5%;
    margin-bottom: 10%;
  }
  .selectYears>select, .selectOrder>select {
    border: 1px solid gray;
    height: 50px;
    font-size: 40px;
  }
  .search>input {
    font-size: 40px;
    width: 150px;
    height: 60px;
  }
  .a {
    width: 70%;
    height: 70%;
    margin-bottom: 2%;
  }
  .flexContainer {
    font-size: 40px;
  }
  .arrow {
    bottom: 7%;
  }
  .baseboard {
    font-size: 30px;
  }
}