h1 {
  text-align: center;
  background-color:rgb(17,46,81);
  color: white;
  size: 30px;
  padding: 8px;
  border: 1px solid grey;
  margin-top: -10px;
}

.flexContainer {
  display: inline-block;
}

#result {
  display: inline-block;
}

#year, #transport {
  background-color: #e1f3f8;
  font-size: 15px;
}

#btn, #clear {
  display: inline;
  background-color: #0071bc;
  color: white;
  border-radius: 6px;
  font-size: 20px;
}

#year {
  vertical-align: top;
}
