body {
  background-color: #e4e2e0;
}

.screen {
  width: 80%;
  margin: 0 auto;
  background-color: white;
}

.nameSite {
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(21, 57, 107);
  color: white;
  font-size: 20px;
  padding: 0.1px;
  margin-top: -8px;
}

.image {
  width: 100%;
  margin-bottom: 10%;
}

.selectsStyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1%;
}

select {
  font-family: sans-serif;
  margin-right: 2%;
  width: 130px;
  height: 40px;
  font-size: 18px;
  text-align-last: center;
}

select:focus {
  outline: none;
}

.selectsStyle>input {
  outline: none;
  cursor: pointer;
}

.flexContainer {
  font-family: sans-serif;
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 20px;
  text-align: center;
}

.cards {
  border-radius: 30px;
  background-color: rgb(29, 109, 166);
  color: white;
  box-shadow: 4px 4px #205493;
  width: 20%;
  height: 15%;
  margin-right: 1%;
  margin-bottom: 1%;
}

.arrow {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-inline-end: 40px;
}

.baseboard {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  background-color: #f9c642;
}

@media (max-width: 1024px) {
  .screen {
    width: 100%;
  }
  select {
    border: 1px solid gray;
    width: 245px;
    height: 65px;
    font-size: 40px;
    margin-right: 4%;
    margin-top: 30px;
  }
  .selectsStyle>input {
    height: 70px;
    margin-top: 30px;
  }
  .cards {
    width: 70%;
    height: 70%;
    margin-bottom: 2%;
  }
  .flexContainer {
    font-size: 40px;
  }
  .arrow {
    bottom: 8%;
  }
  .baseboard {
    font-size: 30px;
  }
}